:root {
  --color-bg: #0F1A2A;
  --color-shape: #0a121d;
  --color-text: #fff;
  --color-red: #e63945;
  --color-grey: #aaa;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

*, body, html, input, button {
  font-family: "Fredoka", sans-serif;
}

html, body {
  min-height: 100%;
  max-width: 100vw;
}

html {
  font-size: 62.5%;
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

